@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #191c1c;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
  /* Track background */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #56b8878a;
  /* Scrollbar thumb color */
  border-radius: 10px;
  /* Rounded edges of the scrollbar thumb */
  border: none;
  /* Add padding around the thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56b887;
  /* Thumb color when hovered */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltip {
  position: relative;
  ;
}

.tooltip-content {
  display: none;
  border-radius: 5px;
  position: absolute;
  right: 125%;
  top: 10%;
  padding: 5px 15px;
  text-transform: uppercase;
}

.tooltip:hover .tooltip-content {
  display: block;
}

.mobile-sidebar {
  transition: all .5s ease-in-out;
  transform: translateX(100%);
}

.open {
  transform: translateX(0) !important;
}

.close-mark {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

.close-mark:before,
.close-mark:after {
  position: absolute;
  top: 0.5px;
  left: 12.5px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #fff;
}

.close-mark:before {
  transform: rotate(45deg);
}

.close-mark:after {
  transform: rotate(-45deg);
}

.square-marker {
  display: block;
  background-color: #ffffff;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 5px;
  margin-right: 10px;
}

.square-marker:after {
  content: "";
  background-color: #56b887;
  position: absolute;
  top: -10px;
  left: -10px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

.education-container {
  position: relative;
}

.education-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #56b887;
  z-index: 1;
}

.education-container::after {
  position: absolute;
  left: 4px;
  height: 100%;
  width: 2px;
  top: 5px;
  content: "";
  background: #2a2e2e;
}

.project-card {
  background: radial-gradient(at top right, #56b887db, #56b8874d, #56b88717, transparent);
  background-size: 150%;
  transition: all 0.5s ease-in-out;
}

.project-card:hover {
  background-size: 100%;
}

.custom-bullets {}

.custom-bullets li {
  position: relative;
  padding-left: 1.5rem;
  /* Space for custom bullet */
}

.custom-bullets li::before {
  content: '';
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 1px;
  background-color: #56b887;
}

@media (max-width: 768px) {

  .education-container::before,
  .education-container::after {
    display: none;
  }
}